body {
    margin-top: 60px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

footer {
    margin: 10px 0;
}

.p-padd{
    padding-bottom:10px;
}

.capital{
    text-transform: capitalize;
}


.lproduk{
    padding-right: 50px;
}

.lproduk img {
    padding-bottom: 10px;
}

.foto-produk{
      height: 200px;
  }

.isi-artikel{
   text-align: justify;
}
  
.img-index-artikel{
    height: 150px;
    width: 300px;
    padding-right: 10px;
    padding-bottom: 5px;
}
  